
@font-face {
    font-family: "Pacifico";
    src: url('../../fonts/Pacifico-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }
    
  @font-face {
    font-family: "Pacifico";
    src: url('../../fonts/Pacifico-Regular.ttf');
    font-weight: bold;
    font-style: normal;
  }
    
  @font-face {
    font-family: "Pacifico";
    src: url('../../fonts/Pacifico-Regular.ttf');
    font-weight: normal;
    font-style: italic;
  }
  
   /* ::-webkit-scrollbar {
    width: 3px;
  }  */

    body {
      overflow-x: hidden;
    }